body html {
  margin-bottom: 0 !important;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif !important;
}

p {
  font-family: 'Nunito Sans', sans-serif !important;
}

h5, h6 {
  font-family: 'Nunito Sans', sans-serif !important;
  font-weight: 600;
}

h3 {
  text-align: center;
  padding-bottom: 15px;
  font-family: 'Nunito Sans', sans-serif !important;
}

h1 {
  font-family: 'Nunito Sans', sans-serif !important;
  font-weight: 800 !important;
  font-size: 3em !important;
  padding-top: 15px;
  color: white;

}

#logo {
  padding-right: 40px;
  padding-left: 10px;
}

.navbar {
  color: white !important;
  position: fixed;
  z-index: 2000;
  background-color: #262626 !important;
  height: 70px;
  width: 100%; 
  padding: 10px 0 10px 10px;
  text-align: left;
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#search-bar {
  border: solid red 1px;
  width: 70%;
  border: none;
  border-radius: 0;
  height: 45px;
  margin-right: 0 !important;
  margin-left: 10px;
}

#search-form {
  width: 70%;
}

#submit-btn {
  background-color: #f9c00b;
  color: white;
  border: none;
  width: 70px;
  height: 45px;
}

.nav-item {
  margin-right: 20px;
  margin-left: 20px;
}

.navbar-collapse {
  justify-content: space-between;
}

a:hover {
  color: #f9c00b !important;
}

#navbarSupportedContent {
  background-color: #262626;
}

#submit-btn {
  background-color: #f9c00b;
  color: white;
  border: none;
  width: 70px;
}

#github-btn {
  background-color: #f9c00b;
  color: white !important;
  height: 45px !important;
  border-radius: 0;
}

a {
  color: white !important;
}

a:hover {
  text-decoration: none;
}

.form-control {
  border: 0;
}

.jumbotron {
  height: 40vh;
  margin-top: 70px;
  text-align: center !important;
  background-image: url(img/results-img2.jpg);
  background-size: cover;
  background-position: center;
}

.container-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.whoweare-row {
  padding-bottom: 10px;
}

.section {
  /* margin: 0; */
  border: solid blue 1px;
  width: 100vw !important;

}

#icon {
  margin-bottom: 10px;
}

.container-fluid {
  /* padding: 0px 30px 20px 30px; */
}

.row {
  padding-left: 35px;
  padding-right: 25px;
}

.tech-title {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  margin-top: 25px;
}

col-md {
  padding: 10px;
}

.img-block {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.technologies-row {
  background-color: #f5f5f5;
  padding-bottom: 20px;

}

footer {
  padding-top: 12px;
  text-align: center;
  color: white;
  background-color: #262626;
  height: 50px;
  width: 100%;
  margin-bottom: 0;
}

#coffee {
  padding-bottom: 4px;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

a.leaflet-popup-close-button {
  display: none;
}