* {
    margin: 0; padding: 0;
  }

  html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  #homepage-search {
      z-index: 2;
      position: relative;
      flex: 1;
  }

  #primary-text {
    text-align: center;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 3rem;
  }

  #secondary-text {
      text-align: center;
      color: white;
      font-family: 'Nunito Sans', sans-serif;
      padding-bottom: 30px;
      font-size: 1rem;
  }

  #footer-content {
      z-index: 2;
      position: relative;
      top: 93vh;
      color: white;
      text-align: center;
      font-family: 'Nunito Sans', sans-serif;
  }

  i {
      padding-right: 5px;
  }

  a, a:hover {
      text-decoration: none;
      color: inherit;
  }

  #homepage-content {
      height: 100vh;
      width: 100vw;
      position: absolute;
      display: flex;
      align-items: center;
  }

  #bideo {
    overflow: hidden;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
  }

  #background_video {
    position: absolute;

    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

    object-fit: cover;
    height: 100%; width: 100%;
  }

  /* #video_cover {
    position: absolute;

    width: 100%; height: 100%;

    background: url('video_cover.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
  } */

  #video_controls {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }

  #play img {
    width: 100px;
  }
  #pause img {
    width: 90px;
  }
  #pause {
    display: none;
  }

  @media (min-width: 768px) {
    #video_controls {
      display: none;
    }
  }