html, body {
    /* max-width: 100%;
    overflow-x: hidden; */
}

.barContainer {
    /* color: red;
    background-color: aquamarine; */
    padding: 20px;
    width: 65vw;

}

.test {
    /* position:-webkit-sticky; 
    position:sticky; 
    top:0; */
    width: 28vw;
    left: 66%;
    top: 0;
    /* height: 100%; */
    padding: 15px;
    border: solid 1px blue;
}

/* .test {
    position:-webkit-sticky; 
    position:sticky; 
    top:0;
} */


#map {
     width:340px; 
     height: 300px; 
    }

.results {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    padding: 20px;
    border: solid 1px red;
}

.business-img {
    width: 175px;
    height: 175px;
    object-fit: cover;
    padding: 8px;
}