* {
    box-sizing: border-box;
}
/* 
@media screen and (min-width: 375px) {
    #search-form {
       width: 30%;
    }
    #submit-btn {
       width: 50px !important;
   }  

   .card {
    width: 100vw !important;

}


} */

/* @media screen and (max-width: 768px) {
    .card-img {
        height: 120px !important;
    } */

    /* #map {
        display: none; */
        /* position: static !important;
        top: 1275px !important;
        height: 20px !important; */
    /* } */

    /* .card {
        padding: 10px !important;
        width: 45vw !important;
        opacity: .95;
        -webkit-box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.75);
       -moz-box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.75);
       box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.75);
    } */

}

html body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#map {
    min-height: 300px;
    margin-top: 80px;
}

#logo {
    padding-right: 40px;
    padding-left: 10px;
}

.navbar {
    color: white !important;
    position: fixed;
    z-index: 2000;
    background-color: #262626 !important;
    height: 70px;
    width: 100%; 
    padding: 10px 0 10px 10px;
    text-align: left;
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#search-bar {
    border: solid red 1px;
    width: 70%;
    border: none;
    border-radius: 0;
    height: 45px;
    margin-right: 0 !important;
    margin-left: 10px;
}

#search-form {
    width: 70%;
}

#submit-btn {
    background-color: #f9c00b;
    color: white;
    border: none;
    width: 70px;
    height: 45px;
}

.nav-item {
    margin-right: 20px;
    margin-left: 20px;
}

.navbar-collapse {
    justify-content: space-between;
}

a:hover {
    color: #f9c00b !important;
  }

  #navbarSupportedContent {
    background-color: #262626;
}

.form-control {
    border: 0;
}

footer {
    padding-top:12px;
    text-align: center;
    color: white;
    background-color: #262626;
    height: 50px;
    width: 100%; 
    margin-bottom: 0;
    position: relative;
    z-index: 3000;
}

#coffee {
    padding-bottom: 4px;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

 .card {
     /* padding: 10px !important;
     width: 45vw !important; */
     opacity: .95;
     -webkit-box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.75);
 }

.card-img {
    height: 78%;
    background-size: cover;
    background-position: center;
    padding-top: 10px !important;
}

 .card-body {
     padding-left: 15px;
 }

 #card {
     /* border: solid 1px red; */
     height: 9%;
     width: 98%;
     padding:5px;
     /* overflow: hidden; */
 }

 #output {
     padding-top: 15px;
     overflow-y: auto;
     padding-top: 90px;
     border: solid red 1px;
 }

 .container {
     width: 600px;
 }

body {
    display: flex;
}

 a.leaflet-popup-close-button {
     display: none;
 }

 .bckgrnd-img {
     /* display: flex;
     flex-wrap: wrap;
     flex-direction: row; */
     background-image: url('img/results-img2.jpg');
     background-size: cover;
     background-repeat: none;
     background-attachment: fixed;
 }